<html>

<head>
    <style>
        a {
            display: block;
            padding: 10px;
            border-radius: 8px;
            text-decoration: none;
            text-align: center;
            background-color: crimson;
            color: white;
            width: 100%;
        }

        body {
            padding: 14px;
        }

        .btn-container {
            padding: 14px 8px 14px 0px;
        }

    </style>
</head>

<body>
    <div>
        <h3>Hola {{ email }},</h3>

        <p>
            Recibes este correo porque has solicitado la recuperación de contraseña en nuestro sitio web. Si no has realizado esta solicitud, puedes ignorar este mensaje.
            Para restablecer tu contraseña, haz clic en el siguiente enlace:
        </p>
        <div class="btn-container">
            <a href="{{ url }}">Recuperar</a>
        </div>
        <p>
            Este enlace expirará en {{ expirationTime }}, así que asegúrate de usarlo pronto.
            Si tienes algún problema o no solicitaste la recuperación de contraseña, por favor contáctanos inmediatamente.
        </p> 
        <p>¡Gracias!</p>
    </div>
</body>

</html>